.form-edit-recipient {
    width: 1000px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.form-edit-recipient label {
    display: block;
    margin-bottom: 5px;
}

.form-edit-recipient input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.btn-submit-3 {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
}