.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Adjust this value according to your needs */
}

.form-add-recipient {
    width: 80%;
}

.styled-table-recipient {
    width: 100%;
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.9em;
    font-family: sans-serif;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
}

.styled-table-recipient thead tr {
    background-color: #009879;
    color: #ffffff;
    text-align: left;
}

.styled-table-recipient th,
.styled-table-recipient td {
    padding: 12px 15px;
}

.styled-table-recipient tbody tr {
    border-bottom: 1px solid #dddddd;
}

.styled-table-recipient tbody tr:nth-of-type(even) {
    background-color: #f3f3f3;
}

.styled-table-recipient tbody tr:last-of-type {
    border-bottom: 2px solid #009879;
}